.tooltip{
	    text-align: left;
    pointer-events: none;
    background: #FFFFEF;
   /*  width: 400px;
    height: 165px; */
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,0.85);
}
div.header3 {
    color: #333;
    text-align: left;
    font-size: 15px;
    font-style: italic;
    font-family: Georgia;
    /* width: 170px; */
    text-align: center;
}
div.header-rule {
    height: 1px;
    margin: 1px auto 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    background: #ddd;
    width: 125px;
}
div.header {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    color: #666;
    text-align: center;
}
div.header2 {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: center;
}
div.tooltipTail {
    position: absolute;
    left: -7px;
    top: 72px;
    width: 7px;
    height: 13px;
}

g.month {
    font-size: 10px;
}

text.import {
    font-family: "Myriad", Arial;
    fill: #9B001C;
	font-size:10px;
}
text.export {
    font-family: "Myriad", Arial;
    fill: #00AC6B;
	font-size:10px;
}

text.mainLabel {
    font-size: 12px;
    font-family: Georgia;
    font-style: italic;
    text-align: center;
    fill: #9B001C;
}
text.secondLabel {
    font-family: Myriad, Arial;
    font-style: italic;
    fill: #888888;
    font-size: 10px;
}
body {
    overflow: auto;
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica;
}

#imgDiv{
    position: absolute;
    top: 50px;
    left: 175px;
}